.blue{
    color: blue;
    border-bottom:5px solid blue ;

}
.red{
    color:red;
    border-bottom:5px solid red ;

}
.green
{
    color: green;
    border-bottom:5px solid green ;

}
.maincc
{
    margin-left: 45px;
    @media only screen and (max-width: 600px) {

    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    margin-left: 60px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    margin-left: 45px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    margin-left: 45px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    margin-left: 45px;
}
}